<div class="p-4">
  <mat-form-field class="w-full">
    <mat-label>Naam</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.booklet.name" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Omschrijving</mat-label>
    <textarea matInput [(ngModel)]="data.booklet.description"></textarea>
  </mat-form-field>

  <div class="flex flex-col">
    <button
      mat-button
      [mat-dialog-close]="{ booklet: data.booklet }"
      class="button"
    >
      Opslaan
    </button>
    <button mat-button (click)="cancel()" class="mt-4 underline">
      Annuleren
    </button>
  </div>

  <div class="flex justify-center mt-4 border-t-2" *ngIf="data.enableDelete">
    <button
      mat-button
      aria-label="Archiveren"
      class="text-red-600 mt-4"
      [mat-dialog-close]="{ task: data.booklet, delete: true }"
    >
      Archiveren
    </button>
  </div>
</div>
