<div *ngIf="userEmail"
  class="bg-light container-border px-2 text-right mb-8 flex flex-col pb-4"
>
  <div class="flex flex-row justify-between">
    <div>
      <span class="font-semibold italic">Je bent ingelogd als: </span>
      <span>{{ userEmail }}</span>
    </div>
    <button (click)="logout()" type="button" class="underline">Uitloggen</button>
  </div>
  <div class="text-left mt-4">
    <a href="/" class="underline m-2 ml-0 p-2 bg-background border border-border rounded-lg">Mijn huishoudboekjes</a>
  </div>
</div>
