<section class="p-16 hellokitty-background">
  <div class="flex flex-row items-center">
    <img
      class="w-1/12"
      src="../../../assets/images/hellokitty.png"
      alt="Hello kitty"
    />
    <h2 class="title ml-8">Overzicht Uitgaven en Inkomsten</h2>
  </div>
  
  <div class="flex flex-row">
    <div class="w-2/3 mr-8">
      <div class="mt-8">
        <button (click)="addExpenseOrIncome()" class="button mt-4 text-md w-full">Uitgave of inkomen Toevoegen</button>
        <h3 class="text-xl font-bold mb-4">Uitgaven</h3>
        <ul class="bg-background p-6 text-dark rounded-xl container-border">
          <li *ngFor="let expense of expenses" class="mt-4">
            <div class="flex flex-row mb-4 expense-item" data-emoji="💸">
              <div>
                <span class="font-bold">{{ expense.name }}</span>
                <br>
                <span class="text-gray-400">{{ expense.date | date:'mediumDate' }}</span>
              </div>
              <div class="ml-auto">
                <span class="text-red-500">
                  <b>€{{ expense.amount }}</b>
                </span>
                <button (click)="editExpense(expense)">
                  <span class="material-icons text-light ml-2 text-2xl">edit</span>
                </button>
                <button (click)="deleteExpense(expense.id)">
                  <span class="material-icons text-light ml-2 text-2xl">delete</span>
                </button>
              </div>
            </div>
            <hr class="expense-divider">
          </li>
        </ul>
      </div>
      
      <div class="mt-8">
        <h3 class="text-xl font-bold mb-4">Inkomsten</h3>
        <ul class="bg-background p-6 text-dark rounded-xl container-border">
          <li *ngFor="let incomeItem of income" class="mt-4">
            <div class="flex flex-row mb-4 expense-item" data-emoji="💰">
              <div>
                <span class="font-bold">{{ incomeItem.name }}</span>
                <br>
                <span class="text-gray-400">{{ incomeItem.date | date:'mediumDate' }}</span>
              </div>
              <div class="ml-auto">
                <span class="text-green-500">
                  <b>€{{ incomeItem.amount }}</b>
                </span>
                <button (click)="editExpense(incomeItem)">
                  <span class="material-icons text-light ml-2 text-2xl">edit</span>
                </button>
                <button (click)="deleteExpense(incomeItem.id)">
                  <span class="material-icons text-light ml-2 text-2xl">delete</span>
                </button>
              </div>
            </div>
            <hr class="expense-divider">
          </li>
        </ul>
      </div>
      
      <app-line-graph></app-line-graph>
      
    </div>
    
    <div class="w-1/3">
      <h3 class="text-xl font-bold mb-4">Selecteer Maand en Jaar</h3>
      <div class="bg-background p-4 rounded-xl container-border mb-8">
        <div class="mb-2">
          <label for="selectedMonth" class="block text-sm font-medium text-gray-700">Maand:</label>
          <select id="selectedMonth" [(ngModel)]="selectedMonth" (change)="onDateChange()" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
          </select>
        </div>
        <div>
          <label for="selectedYear" class="block text-sm font-medium text-gray-700">Jaar:</label>
          <select id="selectedYear" [(ngModel)]="selectedYear" (change)="onDateChange()" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>
      </div>
      <app-categories></app-categories>
    </div>
  </div>
</section>
