.hellokitty-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../assets/images/hellokitty_money.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid var(--border-color);
    border-radius: 0.5rem;
  }

.expense-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  border-bottom: none;
}

.expense-item:last-child {
  border-bottom: none;
}

.expense-item img {
  width: 2rem;
  height: 2rem;
}

.expense-item::before {
  content: attr(data-emoji);
  font-size: 2rem;
  margin-right: 10px;
  flex-shrink: 0; /* Ensure the emoji only takes up its own width */
}

.expense-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow the details to take up remaining space */
}

.expense-name {
  font-weight: bold;
}

.expense-date {
  color: grey;
}

.expense-amount {
  color: #e10013;
  font-weight: bold;
  flex-shrink: 0; /* Ensure the amount only takes up its own width */
}

.expense-divider {
  border: none;
  border-top: 1px solid lightgrey;
  margin: 0;
}

.overview-list-container {
  width: 66.67%;
  margin: 0 auto; /* Center the container */
}

h3 {
  color: white;
  font-weight: bold;
  margin-top: 20px; 
}

.material-icons {
  color: black;
}