progress {
  background: black;
  border-radius: 1rem;
  border: none;
  color: #fff;
  -webkit-appearance: none;
}

progress.progressLimitReached::-webkit-progress-bar {
  background-color: var(--color-progress-limit-reached);
}

progress.progressLimitReached::-webkit-progress-value {
  background-color: var(--color-progress-limit-reached);
}

progress.progressLimitReached::-moz-progress-bar {
  background-color: var(--color-progress-limit-reached);
}

progress.progressLimitNotReached::-webkit-progress-bar {
  background-color: var(--color-progress-limit-not-reached);
}

progress.progressLimitNotReached::-webkit-progress-value {
  background-color: var(--color-progress-limit-not-reached);
}

progress.progressLimitNotReached::-moz-progress-bar {
  background-color: var(--color-progress-limit-not-reached);
}
