<div class="p-4">
  <div>
    <h3 class="font-bold text-dark">Informatie</h3>
    <form [formGroup]="formGroup">
      <mat-form-field class="w-full mt-4">
        <mat-label>Naam</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field class="w-full mt-4">
        <mat-label>Bedrag</mat-label>
        <input matInput formControlName="amount" type="number" />
      </mat-form-field>

      <mat-form-field class="w-full mt-4">
        <mat-label>Datum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-checkbox formControlName="isIncome">Is Inkomen</mat-checkbox>
    </form>
  </div>
  <div class="mt-8 flex flex-col justify-center">
    <button mat-button (click)="save()" class="button w-full">Opslaan</button>
    <button mat-button (click)="cancel()" class="mt-4 underline">Annuleren</button>
    <div class="flex justify-center mt-4 border-t-2" *ngIf="data.enableDelete">
      <button mat-button aria-label="Verwijderen" class="text-red-600 mt-4" [mat-dialog-close]="{ task: data.expense, delete: true }">Verwijderen</button>
    </div>
  </div>
</div>
